# 점프 투 파이썬 e-book
https://wikidocs.net/14

## 2장 파이썬 프로그래밍의 기초, 자료형
"그 언어의 자료형을 알고 이해할 수 있다면 이미 그 언어의 절반을 터득한 것이나 다름없다"

### 2-1 숫자형
- 정수
- 음수
- 실수
- 8진수
- 16진수

In [10]:
a = 1.2
print(a)

1.2

In [11]:
a = -3.45
print(a)

-3.45

In [12]:
# 실수의 소숫점 표현 방식
a = 1.2E3
print(a)

b = 1.2E-3
print(b)

1200.0
0.0012

    8진수 : 0o 또는 0O 로 시작
    16진수 : 0x 로 시작

In [13]:
# 8진수
a = 0o177
print(a) # 1 * (8^2) + 7 * (8^1) + 7 * (8^0) = 127

127

In [18]:
#16진수 : 1 ~ 9 / a ~ f(10 ~ 16의미)
a = 0x8ff
print(a)

2303

#### 연산
    * : 곱하기
    ** : 제곱하기
    / : 나누기
    // : 몫(정확히 말하면, '/' 연산 적용 후 바로 아래 정수)
     % : 나머지

In [14]:
2 * 2

4

In [15]:
2 ** 4

16

In [16]:
2 / 4

0.5

In [18]:
9 // 4

2

In [19]:
9 % 4

1

### 2-2 문자열 자료형
    ' 와 ''

    문자열 안에 '나 '' 를 삽입하고 싶은 경우
    ' 앞에 \(백슬래시)를 삽입하면 ' 를 문자열을 구분하는 인자로 생각하지 않고
    문자 자체로 인식

In [27]:
"he says 'good bye'"

"he says 'good bye'"

In [28]:
'python \is so easy'

'python \\is so easy'

In [21]:
# " 나 ' 앞에 백슬래시(\) 가 있는 경우 
# 문자열을 감싸는 기호로 생각하지 않고 문자 자체로 인식한다.
" \" \" \" "

' " " " '

줄을 바꾸기 위한 escape code
1) \n(줄 바꾸기)
2) 따옴표 3개 사용

In [29]:
# 따옴표 3개 사용시 타이핑한 그대로(개행) 출력된다.

print('''life
is
too
short
''')

life
is
too
short

escape code 정리
    
    \n : 줄 바꾸기
    \t : 수평 탭
    \\ : 문자 백슬래시
    \l
    \" : 인용 부호
    \r : 캐리지 리턴
    \f : 폼 피드
    \a : 벨 쇨
    \b : 백 스페이스
    \000 : 널문자

In [27]:
# 예시
# 줄바꾸기
print('life is too short \nso you need python')
print()
print('life is too short \aso you need python')

life is too short
so you need python

life is too short so you need python

#### 문자열 연산
    + : 문자열 더하기, 옆으로 붙이는 형태 
    * : 문자열 곱셈, 해당 갯수만큼 증가

In [79]:
'문자열' + '연산'

'문자열연산'

In [80]:
'문자열\n' + '연산'

'문자열\n연산'

In [81]:
'파이썬' * 3

'파이썬파이썬파이썬'

In [29]:
# 응용
# 출력값이나 결과를 구분지어 읽기 용이하게 할때 사용
print('=' * 30)
print('결과1')
print('-' * 30)
print('=' * 30)
print('결과2')
print('-' * 30)

==============================
결과1
------------------------------
==============================
결과2
------------------------------

#### 문자열 인덱싱 / 슬라이싱
    인덱싱 : 해당 요소를 가리키다
    슬라이싱 : 무엇인가를 잘라낸다

문자열 인덱싱

    해당 요소를 뽑아내는 것 
    문법 : 데이터[인덱스]
    0 : 가장 첫번째 값에 대응
    -1 : 가장 마지막 값에 대응
    

슬라이싱

    해당 요소의 열을 뽑아내는 것
    문법 : 데이터[시작인덱스 : 끝 인덱스]
    시작 인덱스 ~ (끝 인덱스 - 1) 까지만 포함

주의사항
- 파이썬은 인덱스가 0부터 시작(자바와 같다) / R 은 1부터 시작
- immutable(변경 불가능)
    - 파이썬의 문자열은 변경 불가능하다. 즉, 인덱싱을 통해 새 값을 대입할 수 없다.

In [39]:
'문자열입니다.'[0] # 인덱싱

'문'

In [43]:
'문자열입니다.'[2:4] # 슬라이싱

'열입'

In [41]:
'문자열입니다.'[1:] # 처음과 끝을 지정해주지 않으면 알아서 잡아준다.

'자열입니다.'

In [42]:
'문자열입니다.'[-1] # 맨 뒤 요소 인덱싱하기

'.'

In [86]:
# 응용법
# 각 대응하는 값들의 길이가 정해진 문자열에서 길이를 기준으로 각 값들을 추출
weather_data = '20180411Sunny'

year = weather_data[:4]
month = weather_data[4:6]
day = weather_data[6:8]
weather = weather_data[8:]

In [87]:
l = [year, month, day, weather]
for i in l:
    print(i)

In [37]:
error_data = 'Pithon'
# 문자열은 immutable : 슬라이싱이나 인덱싱을 통해 대입 불가
error_data[1] = 'y'

TypeError: 'str' object does not support item assignment

In [38]:
# 원한다면 다음과 같이 바꾸어야 한다.
error_data[0] + 'y' + error_data[2:]

'Python'

#### 문자열 포매팅
문자열 내부에 값을 삽입하는 것

    %s : 문자열(string)
    %c : 문자 1개(character)
    %d : 정수(integer)
    %f : 부동소수(floating - point)
    %% : 문자 % 자체

In [44]:
'I need a %s' %('python')

'I need a python'

In [ ]:
'%s ate %d apples' % ('James', 4)

In [ ]:
# % 라는 문자 자체를 나타내는 %% 
# 앞에 %d 와 같은 포맷코드가 있는 경우 사용하여야 한다.
'Error is %d %%' % 98

In [ ]:
# 아닌 경우 그냥 % 하나만 사용해도 가능
'error is 88 %'

%s 를 사용하면 들어가는 자료형을 문자열로 바꾼 후 넣어준다.

In [ ]:
'삶의 질 : %s %%' % 98
# %s 뒤에는 문자열이 들어와야겠지만 정수가 들어가도 문자열로 변환 후 넣어준다.

#### 문자열 관련 함수
예제를 통해 확인하자
    
    count
    find : 해당 문자가 처음 나오는 인덱스 반환(에러X, 대신 -1)
    index :  해당 문자가 처음 나오는 인덱스 반환(에러O, 대신 -1)
    replace
    split
    join : 각 문자열 사이에 해당 문자열을 삽입해준다.

해당 문자가 문자열에 없는 경우

    index : 에러 발생
    find : -1 반환

In [1]:
a = 'hobby'

In [8]:
print(a.find('y'))
print(a.find('b'))
print(a.index('b'))

4
2
2

In [9]:
a.index('K')

ValueError: substring not found

In [10]:
a.find('K')

-1

In [13]:
'/'.join(a)

'h/o/b/b/y'

#### 대소문자로 변환
    
    텍스트 마이닝 시 문자열을 정규화하기 위해 많이 사용된다.
    - upper()
    - lower()

In [14]:
a.upper()

'HOBBY'

In [15]:
a.lower()

'hobby'

#### 공백 지우기

    lstrip: 왼쪽 공백 제거
    rstrip: 오른쪽 공백 제거
    strip: 공백 전체 제거

In [17]:
b = '            boy  '
c = '  girl           '

In [18]:
b.lstrip()

'boy  '

In [19]:
c.rstrip()

'  girl'

In [20]:
b.strip()

'boy'

In [21]:
c.strip()

'girl'

#### 문자열 바꾸기

    replace(기존문자, 바꿀문자)

In [22]:
'bobby is so good'.replace('bobby', 'Jon')

'Jon is so good'

#### 문자열 나누기
    
    split(해당 문자) : 해당 문자로 문자열을 나누어 리스트화 한다.
        - defalult 값 : 공백, 스페이스
        
##### 유사한 문자 나누기
- 문자열을 문자 하나씩 다 떼어내고 싶은 경우

    split(문자열)

In [23]:
# default 값은 공백으로 나눈다.
'Life is too short'.split()

['Life', 'is', 'too', 'short']

In [25]:
'Life              is too short'.split()

['Life', 'is', 'too', 'short']

In [26]:
'A/B/C/D'.split('/')

['A', 'B', 'C', 'D']

In [27]:
# 구분자가 정해져 있지 않은 경우
# 문자끼리 다 떼어내고 싶을 때는 list에 넣어주면 된다.
list('abcd')

['a', 'b', 'c', 'd']

#### 문자열 포매팅
- 문자열에 특정 문자를 삽입하는 것

    %s : string 값에 대응
    %d : integer 값에 대응
    %f : float 값에 대응
    .format() : 어떤 자료형이든 가능

In [28]:
'I ate %d apples' % 3

'I ate 3 apples'

In [29]:
'I ate %s apples' % '2'

'I ate 2 apples'

In [34]:
' %f accuracy' % 0.8765

' 0.876500 accuracy'

In [35]:
# 소숫점의 자리를 변환 가능
' %.2f accuracy' % .8765

' 0.88 accuracy'

In [36]:
# format 함수
print('I ate {} apples'.format(3))
print('I ate {} apples'.format('3'))

print('{}  accuracy'.format(0.8765))
print('{:.2f} accuracy'.format(0.8765))

I ate 3 apples
I ate 3 apples
0.8765  accuracy
0.88 accuracy

## 02-3 리스트 자료형


자료형의 나열된 값들이나 집합을 의미함

리스트 내부에는 모든 자료형이 들어갈 수 있다.

    [] 또는 list() 함수를 사용하여 생성
    
mutable 하기 때문에 인덱싱,슬라이싱을 통해 값을 변화시킬 수 있다.

In [39]:
l = [1,2,3,4]
l

[1, 2, 3, 4]

In [41]:
# list 에는 각 요소가 다른 자료형이 들어갈 수 있다.
l = [1,2, '문자열', ('튜','플',3), {1:'딕', 2:'셔너리'}, [7,8]]
l

[1, 2, '문자열', ('튜', '플', 3), {1: '딕', 2: '셔너리'}, [7, 8]]

#### 리스트 인덱싱, 슬라이싱

    인덱싱 : [인덱스]
    슬라이싱 : [첫인덱스 : 끝인덱스]
        
    * 끝 인덱스에 해당하는 요소는 포함 X

In [46]:
l = [100,200,300,400,500]

In [47]:
# 인덱싱
l[3]

400

In [48]:
l[-1]

500

In [49]:
# 인덱스 2 ~ 인덱스 3에 해당하는 요소 반환
l[2:4]

[300, 400]

In [50]:
l = [[1,2,3,4], 100,200,300]

In [51]:
l[0]

[1, 2, 3, 4]

In [52]:
l[0][2]

3

In [53]:
l[0][2:4]

[3, 4]

In [54]:
l[0][2:]

[3, 4]

리스트 값의 변화

    리스트[인덱스] = 값
    리스트[첫 인덱스 : 끝 인덱스] = 값 : 해당 값 '자체'가 '요소'로 들어간다.
    리스트[index i : index j] = 값 : 해당 값의 '요소'가 '요소'로 들어간다.

In [66]:
l = [[1,2,3,4], 100,200,300]

In [67]:
# 해당 값이 요소로 들어간다.
l[1] = ['20','30']
l

[[1, 2, 3, 4], ['20', '30'], 200, 300]

In [68]:
# 해당 요소값이 부분의 요소값으로 들어간다.
l[2:3] = [10000, 20000]
l

[[1, 2, 3, 4], ['20', '30'], 10000, 20000, 300]

#### 리스트의 연산
문자열 연산과 같다

    리스트 더하기(+) : extend 메서드와 같다
    리스트 곱하기(*) : 해당 리스트를 반복한다.
    리스트 길이 구하기 : len함수 사용, list 의 인덱스로 리스트를 순회할 때 주로 사용

In [74]:
l = [1,2,3,4,5]

In [69]:
[1,2,3] + [4,5]

[1, 2, 3, 4, 5]

In [70]:
[1,2,3] + [[4,5]]

[1, 2, 3, [4, 5]]

In [71]:
[1,2,3] * 2

[1, 2, 3, 1, 2, 3]

In [35]:
[ [1,2,3] ] * 2

[[1, 2, 3], [1, 2, 3]]

In [34]:
len([3,4,5,6])

4

#### 리스트 요소 삭제

    list[슬라이싱] = [] : 슬라이싱에 해당하는 부분 [] 의 요소가 들어간다
    del 리스트[인덱싱 or 슬라이싱]

In [37]:
l = [100,200,300,400,500]

In [77]:
del l[0]
l

[200, 300, 400, 500]

In [78]:
del l[2:-1]
l

[200, 300, 500]

In [79]:
l = [100,200,300,400,500]

l[2:4] = []

In [80]:
l

[100, 200, 500]

#### 리스트 관련 함수들
리스트 뒤에 도트 연산( . ) 을 이용하여 함수 사용

     append(요소) : 리스트에 '요소' 추가
     extend(iterable 객체) : 리스트에 'iterable 객체의 요소' 모두 추가
     sort() : 자기 자신을 정렬, return 값 없다.
     reverse() : 리스트 순서 반대로
     index(요소) : 해당 값의 index 반환
     insert(index, 요소) : 해당 index 에 요소 삽입
     
     
     remove(요소) : 가장 앞에 있는 값을 삭제
     pop(index) : index에 해당하는 요소를 반환 후 삭제
     count(요소) : list 내부의 요소의 수를 센다

In [58]:
l = [i for i in range(3)]
l

[0, 1, 2]

append

In [59]:
l.append(4)
l

[0, 1, 2, 4]

In [60]:
# list 자체가 요소로 들어간다.
l.append([7,8,9])
l

[0, 1, 2, 4, [7, 8, 9]]

extend

In [61]:
# 해당 리스트의 요소가 들어간다.
l.extend(['a','b'])
l

[0, 1, 2, 4, [7, 8, 9], 'a', 'b']

sort

In [62]:
# 정렬 sort() : 기본값 오름차순
l = [3,6,2,1,8,3]
l.sort()

In [63]:
l

[1, 2, 3, 3, 6, 8]

In [64]:
# sort 함수는 자기자신을 변화하기 때문에 반환값이 없다.
l_sorted = l.sort()
print(l_sorted)

None

In [65]:
# sort(reverse = True) : 내림차순

l.sort(reverse = True)
l

[8, 6, 3, 3, 2, 1]

index

In [66]:
l

[8, 6, 3, 3, 2, 1]

In [67]:
l.index(6)

1

In [68]:
l.index(3)

2

In [69]:
# 없는 경우
l.index(100)

ValueError: 100 is not in list

insert

In [70]:
l

[8, 6, 3, 3, 2, 1]

In [71]:
l.insert(1, 10000)

In [72]:
l

[8, 10000, 6, 3, 3, 2, 1]

remove

In [73]:
l

[8, 10000, 6, 3, 3, 2, 1]

In [74]:
# 
l.remove(1)

In [75]:
l

[8, 10000, 6, 3, 3, 2]

pop

In [76]:
l

[8, 10000, 6, 3, 3, 2]

In [110]:
a = l.remove(10000)

print(l)

b = l.pop(2)

print(l)


print(a)
print(b)

[8, 6, 3, 3, 2]
[8, 6, 3, 2]
None
3

In [112]:
# pop() : 내부에 인자를 주지 않는 경우 마지막 값 반환 후 삭제
## stack 개념


print(l.pop())
print(l)

3
[8, 6]

* Q. 리스트에서 해당 값을 모두 지우고 싶은 경우는?

'''count로 해당 요소값의 갯수를 센 후,

for 구문을 통해 갯수만큼 remove 함수를 적용하면 된다.'''

In [120]:
# 여기서 2를 모두 지우자
l6 = [1,2,3,2,2,2,4,7,8,3,4,2,4,2,6,5]

for i in range(l6.count(2)):
    l6.remove(2)

In [122]:
l6

[1, 3, 4, 7, 8, 3, 4, 4, 6, 5]

In [123]:
# 다 지워졌는지 확인
2 in l6 
# 다 지워짐 good!

False

### 02-4 튜플 자료형


리스트와 거의 비슷하다

    () 또는 tuple() 함수를 통해 생성

** 리스트와의 차이점 **
- 리스트 : mutable , 내부 값 변경 가능
- 튜플 : immutable, 내부 값 변경 불가능

In [113]:
t = (1,2,3)
print(t)
t = tuple([1,2,3])
print(t)

(1, 2, 3)
(1, 2, 3)

In [114]:
# 튜플의 내부 요소가 1개인 경우 뒤에 콤마를 붙여햐 한다.

In [133]:
tcomma = (1)

In [134]:
str(tcomma) # 이런식으로 선언하면 값 1 자체가 된다.

'1'

In [135]:
tcomma = (1,)

In [136]:
str(tcomma) # 이렇게 접근해야 튜플로 선언된다.

'(1,)'

In [116]:
# 튜플값은 삭제 및 변경이 불가능하다.
t2 = (1,2,3,'a','b')

In [117]:
t2[3] = 'k' #  변경하려고 하면 에러 발생

TypeError: 'tuple' object does not support item assignment

In [118]:
del t2[3] # 삭제하려고 해도 에러 발생


# 방법

# 리스트로 변환 후 값을 변경하고
# 다시 튜플로 변환

TypeError: 'tuple' object doesn't support item deletion

In [126]:
# 나머지는 리스트와 동일
t= tuple([1,2,3,4,5,5])
print(len(t))
print(t.count(4))
print(t.index(5))


print((1,2,3) + (2,3,4))
print((3,4,5) * 4)

6
1
4
(1, 2, 3, 2, 3, 4)
(3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5)

### 02-5 딕셔너리
- java의 map과 유사
- 사용 용도 : 1대 1로 매칭되는 데이터를 다룰 때

    - 생성 방법 : {} 또는 dict()
    - key : value 쌍
        - key 로 접근하여 value를 얻어낸다.
    - 고유한 key 값 : 중복되는 경우 그 중 하나만 불러옴
    
    
    - key : iterable 객체를 제외한 모든 타입 가능
    - value : 모든 객체 가능

In [131]:
dic = {'name':'A',
       'height' : 173 ,
       'friend_list': ['B','C','D'] ,
        'additional': {1 : 'a',
                       2 : 'b'}}
# 모든 자료형을 담을 수 있다.

In [144]:
# zip 함수를 통해 생성 가능

dic = dict(zip(['name','height','friend_list','additional'],
               ['A',173,['B','C','D'], {1 : 'a', 2 : 'b'}]))

In [145]:
dic

{'name': 'A',
 'height': 173,
 'friend_list': ['B', 'C', 'D'],
 'additional': {1: 'a', 2: 'b'}}

In [133]:
dic['name'] # key를 인자로 주어 value를 불러온다.

'A'

In [134]:
dic['friend_list'][2]

'D'

In [ ]:
# zip 메서드를 사용햐여 지정 가능
dic2 = dict(zip([1,2,3,4], ['a','b','c','d']))
dic2

#### 요소 삭제
    del 딕셔너리[key]
    
#### 값 추가
    딕셔너리[새로운 key] = 데이터

In [135]:
# dic 이라는 객체에 없는 '키' : '밸류" 를 넣어보겠다.
dic['new_key'] = 'new_value'

In [136]:
dic

{'name': 'A',
 'height': 173,
 'friend_list': ['B', 'C', 'D'],
 'additional': {1: 'a', 2: 'b'},
 'new_key': 'new_value'}

### 딕셔너리 관련 함수들
    dic.keys( ) : 해당 키를 모두 불러온다.
    dic.values( ) : 해당 value를 모두 불러온다.
    dic.items( ) : 해당 key ,value 쌍을 모두 불러온다.
    dic.clear( ) : 모두 지우고 { } 로 만든다.
    dic.get(key) : key 에 해당하는 value 반환
        - dic[ key ] 와 동일하지만 없는 경우에도 에러 없다.

In [138]:
dic

{'name': 'A',
 'height': 173,
 'friend_list': ['B', 'C', 'D'],
 'additional': {1: 'a', 2: 'b'},
 'new_key': 'new_value'}

In [137]:
dic.keys()

dict_keys(['name', 'height', 'friend_list', 'additional', 'new_key'])

In [139]:
dic.items()

dict_items([('name', 'A'), ('height', 173), ('friend_list', ['B', 'C', 'D']), ('additional', {1: 'a', 2: 'b'}), ('new_key', 'new_value')])

In [142]:
# get 메서드
dic.get('friend_list') # "friend_list"라는 key에 해당하는 value를 불러온다.

# 없는 key를 불러오는 경우
## 1. 딕셔너리.get(없는 key) : None 값 반환
## 2. 딕셔너리[없는 key] : 에러발생

print(dic.get('none_key'))
print(dic['none_key'])

None

KeyError: 'none_key'

Q. 딕셔너리는 key 값을 통해 value 를 반환한다. 만약 value 값에 해당하는 key값을 찾고 싶은 경우는 어떻게 해야할까

In [150]:
dic = {'a' : 1,
       'b' : 100,
       'c' : 40}

keys = dic.keys()
values = dic.values()

key_value_rev_dic = dict(zip(values, keys))

print(key_value_rev_dic)

{1: 'a', 100: 'b', 40: 'c'}

## 집합 자료형
    생성 방법 : set()
    
    특징
    - 중복을 허용하지 않는다 : 중복 제거를 위한 필터로 사용가능, sorting 된다.
    - 순서가 없다 : 인덱싱이 불가능
    - 위의 특성들은 딕셔너리와 비슷
    - 인덱싱을 원하는 경우 list 나 tuple 로 형변환 해야한다.

In [155]:
l = [1,2,3,4,1,1,1,4,6,7,8]
# 중복값이 있는 리스트

In [156]:
setl = set(l)
setl # 고유값만 갖는 집합이 생성된다.

{1, 2, 3, 4, 6, 7, 8}

In [157]:
l_notdupli = list(setl)
l_notdupli
# 이런식으로 고유값만 갖는 리스트로 만들 수 있다.

[1, 2, 3, 4, 6, 7, 8]

#### 집합 연산

    합집합 : union 또는 |
    교집합 : intersection 또는 &
    차집합 : difference 또는 -

In [113]:
set1 = set([1,2,3,4,5])
set2 = set([3,4,5,6,7,8])

In [114]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [115]:
set1.difference(set2)

{1, 2}

In [116]:
set1.intersection(set2)

{3, 4, 5}

#### 집합 관련 함수들
    값 추가하기 : add(값)
    값 여러 개 추가하기 : update([ , , , ])
    특정 값 제거하기 : remove(값)

In [126]:
set1 = set([1,2,3,4,5])

In [127]:
set1.add(1000)
print(set1)

{1, 2, 3, 4, 5, 1000}

In [128]:
set1.update({200,300,400})
print(set1)

{1, 2, 3, 4, 5, 1000, 200, 300, 400}

### 02-7 불 자료형
    
    True : 1
    False : 0
    자료형 존재 여부에 따른 불 자료형
        - 존재 : True
        - 존재 x : False

In [162]:
bool(0) # 0은 False

False

In [163]:
bool(1) # 0이 아닌 값들은 True

True

In [164]:
bool(2)

True

In [165]:
bool([4,5,6])

True

In [166]:
bool([]) # 빈 자료형은 False

False

In [167]:
a = [1,2,3,4]

In [168]:
# 하나씩 꺼내면서 list 가 비게 될때까지 수행
while a:
    print(a.pop())

4
3
2
1

In [129]:
True * True

1

In [130]:
True | True

True

In [131]:
True | False

True

In [132]:
False | False

False

In [133]:
True & True

True

In [134]:
True & False

False

### 02-8자료형을 저장하는 공간, 변수

변수를 선언한다느 것은 [해당 데이터 주소]를 변수 이름으로 가리키도록 하는 것이다.

In [172]:
a = 3
b = 3

메모리에 대한 참조 : 메모리를 가리키는 변수의 수
sys.getrefcount(데이터)

In [139]:
a = 3
b = 3

In [141]:
sys.getrefcount(3) 
# 가리키는 객체(변수) 의 갯수가 나온다.
# 2가 아닌 이유는 파이썬 내부적으로 3이라는 자료형을 이미 사용

1251

In [142]:
c = 3

In [143]:
sys.getrefcount(3)
# 3 이라는 메모리의 데이터를 변수 c 로 가리키게 하면
# 참조 갯수가 1 증가한 것을 볼 수 있다.

1252

####  변수를 할당하는 여러가지 방법
    한 줄로 여러 변수를 선언하고 저장하는 방법
    - 튜플이나 리스트로 묶어 매칭시킨다.

In [144]:
(j,k) = (10,20)

In [145]:
j

10

In [146]:
k

20

#### 변수 복사하기

In [156]:
cop = [1,2,3]

In [157]:
cop2 = cop # cop2로 같은 메모리를 가리키도록 한다.

In [158]:
# 같은 메모리의 데이터 주소를 가리키기 때문에
# cop2를 바꾸어도 cop의 내용이 바뀐다.
cop2[2] = [10,20]

In [159]:
cop

[1, 2, [10, 20]]

    하지만 복사하는 경우 데이터 내용은 같지만
    다른 메모리에 할당된 주소를 가리키기 때문에
    하나를 바꾸어도 다른 하나는 영향을 받지 않는다.

In [163]:
cops = [1,2,3,4]

In [164]:
cops2 = cops[:]

In [165]:
cops2[2] = [100,200]
cops2

[1, 2, [100, 200], 4]

In [166]:
cops # 각각 서로 다른 것을 알 수 있다.

[1, 2, 3, 4]

#### copy 모듈을 사용한 복사

In [167]:
import copy

In [168]:
cops_copy = copy.copy(cops)

In [169]:
cops_copy # cops 변수를 복사한 객체

[1, 2, 3, 4]

In [170]:
cops_copy[2] = [1000,2000]

In [171]:
cops_copy

[1, 2, [1000, 2000], 4]

In [172]:
cops # 복사한 객체이므로 원래 객체는 영향을 주지 않는다.

[1, 2, 3, 4]

In [173]:
cops == cops_copy # 두 변수가 같은 메모리주소를 가리키는지

False

### 즉 결론은
[변수 이름으로] 객체를 선언: [같은 주소]를 가리킨다.
변수 이름 말고 [데이터 자체로 객체를 선언] : [다른 주소]

같은 객체이다 : 같은 메모리 주소를 가리킨다.

## 03 프로그램의 구조를 쌓는다! 제어문

### 03-1 if 문
    if 조건문:
    수행할 문장1
    수행할 문장2
    ...
    else:
        수행할 문장A
        수행할 문장B
        ...

In [175]:
for i in [1,2,3,4,5]:
    if i % 2 == 0:
        print('even number')
    else:
        print('odd number')

odd number
even number
odd number
even number
odd number

In [174]:
'j' in 'python'

False

In [175]:
'j' not in 'python'

True

#### 조건문을 한줄에 쓰는 법

In [176]:
message = 'In' if 'j' in 'java' else 'Not In!!'
message

'In'

#### 조건문에서 아무것도 하고 싶지 않은 경우

    pass 사용

In [136]:
if 10 < 10000 :
    pass
else : print('아님')

#### 여러 조건 지정
    elif 사용

In [180]:
for i in [0,1,2,3,4,5]:
    if i  == 0:
        print('0')
    elif i % 2 == 0:
        print('2의 배수')
    else :
        print('다른 수의 배수')

0
다른 수의 배수
2의 배수
다른 수의 배수
2의 배수
다른 수의 배수

#### 03-2 while 문
    while <조건문>:
    <수행할 문장1>
    <수행할 문장2>
    <수행할 문장3>
    ...

#### while 문 강제로 빠져나가기
    break 사용

In [139]:
while 10 < 1000:
    print('작음')
    break
    
# 10 < 1000 은 항상 참이기 때문에 무한루프가 반복되지만
# 한번 while 문의 하위 과정을 실행한 후 break 를 만나기 때문에
# 한번만 실행하고 빠져나가게 된다.

작음

#### while 문 처음으로 돌아가게 하기
    continue 사용

In [184]:
a = 0
while a <10:
    a +=1
    if a % 2 == 0: continue
    print(a)

# a가 짝수인 경우 continue 를 만나 while 문 처음으로 돌아가므로
# 밑에 있는 print(a) 가 실행되지 않는 것이다.

1
3
5
7
9

무한루프 빠져나가는 방법
Ctrl + C 눌러야함..

### 03-3 for 문

    for 변수 in 리스트(또는 튜플, 문자열):
    수행할 문장1
    수행할 문장2
    ...

In [186]:
for i in range(5):
    print(i)

0
1
2
3
4

#### 여러 인자를 받는 for 문

In [189]:
forlist = [(1,2),(3,4),(5,6)]

In [190]:
for first, second in forlist:
    print('{0} and {1} \n'.format(first,second))

1 and 2

3 and 4

5 and 6

In [ ]:
for i in forlist:
    print

#### for 문에서의 contiue 문
    continue 를 만나면 for 문 처음으로 돌아간다.

In [148]:
numlist = [i for i in range(10)]
numlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [192]:
for i in numlist:
    if i <= 5:
        continue
    print(i)
# 5 이하인 경우 continue 를 만나 for 문의 처음으로 돌아가고
# 따라서 print(i)를 수행하지 않는다.

6
7
8
9

#### comprehention(내포)

간결한 코드로 immutable 한 객체 생성하기
    
    - [표현식 for 항목1 in 반복가능객체 if 조건 ]

In [194]:
# 원래 방식
l = []
for i in range(5):
    l.append(i)

print(l)

[0, 1, 2, 3, 4]

In [195]:
# comprehention 사용
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [196]:
# 응용
[i * 2 for i in range(5)]

[0, 2, 4, 6, 8]

In [208]:
# 짝수만 담기
[i for i in range(10) if i % 2 == 0 ]

[0, 2, 4, 6, 8]

In [210]:
# zip 함수 사용
[i * j for i,j in zip(range(10), range(10))]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## 04 프로그램의 입력과 출력은 어떻게 해야 할까?

### 04-1 함수
사용하는 이유 : 반복되는 작업을 줄이고 실수를 방지하기 위함
        
        형태 : 입력값 --> 함수 --> 리턴값(출력값)
        return 없이 print 만 적어준다면 실제적으로 함수의 출력값이 없는 것이다.

####  함수 선언

    def 함수명(매개변수):
    <수행할 문장1>
    <수행할 문장2>
    ...

#### 함수 관련 용어

    매개변수 : 함수 정의 시 인수로 들어가는 값의 변수이름
    인자 : 실제로 input 으로 들어가는 값

In [157]:
def my_sum(a,b):
    return(a+b)
# a,b : 매개변수

#### default 매개변수 지정하기
    
    def 함수명( 매개변수1 = default 값, ....)

매개변수에 값을 지정해주지 않는 경우
- default 값으로 대입되어 실행된다.

In [165]:
def sum2(a = 100 , b = 200):
    return(a + b)

In [166]:
sum2() 
# 인자를 따로 주지 않으면 default 값으로 함수를 수행한다.

300

In [167]:
sum2(a = 3)
# 인자를 주어 default 값 말고 인자로 메서드 수행 가능

203

In [217]:
sum2(b = 1)
# 매개변수를 직접 지정하여 인자를 주어 수행 가능

101

In [218]:
sum2(1,2)

3

#### 입력값(input) 이 몇 개일지 모르는 경우
    def 함수이름(*매개변수) : * 를 붙여 여러 인자를 받는다.

In [219]:
def sum_many(*parameter):
    sum = 0
    for i in parameter:
        sum += i
    return sum

In [220]:
sum_many(1,2,3,4,5,6,8)

29

#### 키워드 파라미터 : kwargs ( keword arguments )

    일반적인 인수 : *args 나 일반적인 매개변수가 받는다.
    key = value 형태의 인수 : **kwargs 가 받는다. 딕셔너리 형태로 반환

In [168]:
def func(*args, **kwargs):
    print(args)
    print(kwargs)
    
# args와 kwargs 는 각각 다른 형태로 입력되며 다른형태로 저장된다.

In [216]:
func(1,2,3, key1 = 3, 4)
# 이와 같이 일반적인 인자를 **kwargs에 해당하는 형태로 보내는 경우
# 에러가 발생한다.

SyntaxError: positional argument follows keyword argument (<ipython-input-216-4f1aa0e4edec>, line 1)

#### 함수를 빠져나가는 목적으로 return 사용하기
    return 뒤에 아무것도 적지 않는 것이다.

In [228]:
def say_nick(n):
    if n == '바보':
        return
    print('나의 별명은 {} 입니다.'.format(n))
# '바보' 라고 입력하는 경우는 return 아무것도 없이 하여
# 결과값을 반환하지 않는다.

In [229]:
say_nick('야호')

나의 별명은 야호 입니다.

In [231]:
say_nick('바보')
# '바보' 라고 입력하면 듣기 싫어서 말을 안함

#### 함수 안에서 선언된 변수의 효력 범위
로컬 변수 : 함수 안에서 값을 전달하기 위한 변수
- 함수가 종료될 시 사라진다. 

글로벌 변수 : 우리가 흔히 아는 일반적인 변수

In [217]:
a = 1

def vartest(a): # a 는 전달할 인자 이름일 뿐 위의 a 와는 무관하다
    a = a + 1

vartest(a)
print(a)

1

In [178]:
a = 1

def vartest(t):
    t += 1
    return t 

a = vartest(a)

print(a)

2

In [181]:
a = 1

def vartest(a):
    a = a+1
    global a = a
    
print(a)

SyntaxError: invalid syntax (<ipython-input-181-ae096459290a>, line 5)

#### lambda

간단한 구조의 함수인 경우 

선언할 필요가 없는 일시적인 함수인 경우

    lambda 매개변수1, 매개변수2, .... : 매개변수를 이용한 표현식

In [218]:
add = lambda a, b : a + b

print(add(100,200))

300

### 04-2 사용자 입력과 출력

    사용자 입력 -> 처리(프로그램, 함수 등) -> 출력

#### input 함수
사용자가 입력하는 값을 받는다.

입력한 값은 문자열로 반환된다.

* 따라서, 숫자형을 받고 싶은 경우 int() or float() 를 통해 형변환이 필요하다

In [182]:
my_str = input()
print(my_str)

지금 내가 하는 입력
지금 내가 하는 입력

In [225]:
def squared_my_number():
    my_num = int(input())
    return my_num ** 2

In [226]:
squared_my_number()

100

10000

In [183]:
# 프롬프트를 띄워서 입력값 받기

my_in = input('출력할 값을 입력해주세요(시스템.)')
print(my_in)

출력할 값을 입력해주세요(시스템.)OK
OK

### 04-3 파일 읽고 쓰기

#### 파일 생성하기
    open('파일 디렉터리/파일명.확장자', 파일 열기 모드)
    
    파일 열기 모드
    - 'w' : 쓰기 모드, 기존 내용은 모두 지워진 후 새로운 내용 추가
    - 'r' : 읽기 모드
    - 'a' : 추가 모드, 파일의 마지막에 내용 추가

In [228]:
my_txt = '''안녕하세요 
000입니다.'''

f = open('C:/python/write_test.txt','w')
f.write(my_txt)
f.close()

In [229]:
# 'a' 모드 : 이어 쓰기
my_txt_add = '''지금은 파일 읽고 쓰기에 대해 배우는 중..'''

f = open('C:/python/write_test.txt', 'a')
f.write(my_txt_add)
f.close()

In [230]:
# 'r' 모드 : 파일 읽기
f = open('C:/python/write_test.txt', 'r')
text_read = f.read()
f.close()
print(text_read)

안녕하세요
000입니다.지금은 파일 읽고 쓰기에 대해 배우는 중..

In [232]:
# 다시 'w' 을 사용하는 경우 기존 내용이 모두 지워지고 추가된다.
with open('C:/python/write_test.txt', 'w') as f:
    f.write('기존 내용은 지우고 새로운 내용을 적습니다.')

with open('C:/python/write_test.txt', 'r') as f:
    read = f.read()
print(read)

기존 내용은 지우고 새로운 내용을 적습니다.

## 5장. 파이썬 날개달기 
- 클래스, 모듈, 예외 및 파이썬 라이브러리

### 05-4.예외 처리

#### 오류 예외 처리 기법

- try, except 문


        try:
            ...
        except [발생 오류[as 오류 메시지 변수]]:
            ...
            
            
try 문 수행 중 오류가 발생하면 except문 실행

In [2]:
ZeroDivisionError

ZeroDivisionError

In [1]:
try:
    4/0
except ZeroDivisionError as e:
    print(e)

division by zero

try .. finally 문



finally 문은 try문 수행 후에 무조건 수행
- 보통 사용한 리소스를 close 해야하는 경우 사용

In [ ]:
f = open('foo.txt', 'w') 
try:
    # 수행
finally:
    f.close()

#### 여러개의 오류 처리하기


        try:
            ...
        except 발생 오류1:
           ... 
        except 발생 오류2:
           ...

In [4]:
try:
    a = [1,2]
    print(a[3])
    4/0
except ZeroDivisionError:
    print('0으로 나눌 수 없음')
except IndexError:
    print('인덱싱 할 수 없음')

인덱싱 할 수 없음

In [5]:
try:
    a = [1,2]
    print(a[3])
    4/0
except (ZeroDivisionError, IndexError) as e:
    print(e)

list index out of range

#### 오류 회피하기
특정 오루가 발생할 경우 그냥 통화시켜야 할 때 사용

In [6]:
try:
    f = open('없는 파일.txt', 'r')
except FileNotFoundError:
    pass

#### 오류 일부러 발생시키기

raise 명령어를 사용하여 일부러 오류를 발생시킨다

In [7]:
# bird 라는 클래스를 상속받는 자식 클래스는 반드시 fly라는 함수를 구현하도록

class Bird:
    def fly(self):
        raise NotImplementedError

In [8]:

class Eagle(Bird):
    pass

eagle = Eagle()
# 오버라이딩을 하지 않고 함수를 호출하여 에러 발생
eagle.fly()

NotImplementedError:

In [9]:
# fly 함수를 구현하여 예외 발생 피하기
class Eagle(Bird):
    def fly(self):
        print('very fast')
        
eagle = Eagle()
eagle.fly()

very fast

#### 예외 만들기

자신이 직접 예외를 만들어 사용

내장 클래스인 Exception클래스를 상속 받아 구축

In [10]:
Exception

Exception

In [11]:
print(type(Exception))

<class 'type'>

In [12]:
class MyError(Exception):
    pass

In [13]:
def say_nick(nick):
    if nick == '바보':
        raise MyError() # nick을 '바보'라고 하지 못하도록 예외 발생
    print(nick)

In [14]:
say_nick('천사')

천사

In [15]:
say_nick('바보')

MyError:

In [16]:
try:
    say_nick('천사')
    say_nick('바보')
except MyError:
    print('허용되지 않는 별명입니다.')

천사
허용되지 않는 별명입니다.

In [17]:
try:
    say_nick("천사")
    say_nick("바보")
except MyError as e:
    print(e) # 해당 부분에서 문자가 출력되지 않는다

천사

예외 시 문자 출력을 위해서는 __str__ 메서드를 구현해야한다.

 \__str__ 메서드 : print(e) 처럼 오류메세지를 print로 출력

In [18]:
class MyError(Exception):
    def __str__(self):
        return '허용되지 않는 별명입니다.'

## 05-5. 내장 함수

#### abs
절댓값을 반환

In [19]:
print(abs(5.4))
print(abs(-5.4))

5.4
5.4

#### all

all(iterable 자료형)

iterable 자료형의 모든 요소가 참인지 확인하는 함수
iterable 자료형의 요소가
- 모두 True 이면 : True
- 하나라도 False이면 : False

In [21]:
x = [i for i in range(10)]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
print([j < 100 for j in x])
print(all([j < 100 for j in x]))

[True, True, True, True, True, True, True, True, True, True]
True

In [30]:
print([j < 5 for j in x])
print(all([j < 5 for j in x]))

[True, True, True, True, True, False, False, False, False, False]
False

#### any

any(iterable 자료형) 

하나라도 True 인 경우 True 반환

In [27]:
print([j < 5 for j in x])
print(any([j < 5 for j in x]))

[True, True, True, True, True, False, False, False, False, False]
True

In [28]:
print([j < 0 for j in x])
print(any([j < 0 for j in x]))

[False, False, False, False, False, False, False, False, False, False]
False

#### chr

chr(아스키 코드) 

아스키 코드에 해당하는 문자를 반환

chr : 아스키 코드 -> 문자

In [31]:
chr(97)

'a'

In [32]:
chr(48)

'0'

#### ord

chr의 반대 

ord : 문자 -> 아스키 코드

In [108]:
ord('p')

112

In [109]:
chr(112)

'p'

#### dir

객체가 자체적으로 가지고 있는 변수, 함수를 보여준다

In [33]:
x = [i for i in range(10)]

In [34]:
print(type(x))
# x는 list 클래스의 인스턴스(객체) 이다

<class 'list'>

In [37]:
print(dir(x))
# 해당 객체의 내부 멤버 변수나, 메서드를 보여준다.

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

#### divmod

divmod(a,b) : a를 b로 나눈 (몫, 나머지)를 튜블로 반환

divmod(a,b) = (x,y) 인 경우

a = b*x + y

In [40]:
divmod(15,6)

(2, 3)

#### enumerate

enumerate(iterable 객체) 

iterable 객체의 (인덱스, 요소값) 을 반환한다(packing)

In [44]:
l2 = [i * 100 for i in range(1,10)]
l2

[100, 200, 300, 400, 500, 600, 700, 800, 900]

In [46]:
for idx, element in enumerate(l2):
    print('{} : {}'.format(idx, element))

0 : 100
1 : 200
2 : 300
3 : 400
4 : 500
5 : 600
6 : 700
7 : 800
8 : 900

#### eval

eval(expression) : 실행 가능한 문자열을 입력으로 받아 문자열을 실행한 결과를 반환

주로 파이썬 자료형을 나타내는 expression을 외부에서 문자로 받은 경우 사용

In [47]:
expression = '[1,2,3,4,5]'

In [56]:
# eval 없이 expression을 파이썬의 리스트 객체로 만들기

def transformTolist(ex):
    result = []
    ex = ex[1:-1]
    
    i = 0
    each = ''
    while i < len(ex):
        
        if ex[i] == ',':
            result.append(int(each))
            each = ''
            
        else:
            each += ex[i]
        i+=1
    return result

In [58]:
expression_trans = transformTolist(expression)
print(expression_trans)
print(type(expression_trans))

[1, 2, 3, 4]
<class 'list'>

In [59]:
# 하지만 eval을 사용하면 매우 편리하게 변환 가능하다
expression_eval = eval(expression)
print(expression_eval)
print(type(expression_eval))

[1, 2, 3, 4, 5]
<class 'list'>

#### filter

filter(함수 이름, iterable 자료형)

iterable 자료형의 각 요소에 대해 함수에서 참인 것만 걸러준다.

In [62]:
# 기존의 방법
l3 = [1,-3,2,0,-5,6]

def positive(l):
    result = []
    for i in l:
        if i > 0:
            result.append(i)
    return result


print(positive(l3))

[1, 2, 6]

In [66]:
# filter 함수를 사용한 경우 훨씬 간결해진다.

def positive_filter(ele):
    return ele > 0

list(filter(positive_filter, l3))

[1, 2, 6]

In [67]:
# 위와 같이 간단한 함수의 경우 lambda 함수를 사용할 수 있다.

list(filter(lambda x : x > 0, l3))

[1, 2, 6]

#### hex, oct

hex(정수) : 16진수로 변환(문자열)
oct(정수) : 8진수 형태로 변환(문자열)

In [112]:
hex(34)

'0x22'

In [113]:
oct(34)

'0o42'

In [114]:
eval(oct(34))

34

#### id

id(객체) : 객체의 고유 주소(레퍼런스)를 반환

In [69]:
a = 3
print(id(3))

print(id(a)) # 넣은 값과 같다

b = a
print(id(b)) # b에 a를 넣었으므로 같다

1469939888
1469939888
1469939888

In [71]:
# 다른 객체는 다른 주소 값이 나온다
print(id(400))

2154704475536

#### input

input([pompt]) : 프롬프트 입력으로 받은 값을 '문자열'로 반환

- 주의 사항 : 
프롬프트에 1 이라고 입력한 경우 integer 1이 아닌 string '1' 이다


따라서, integer 값을 사용하고 싶은 경우 int() 함수와 같이 자료형을 변환해야한다.

In [74]:
a = input()

print(a)
print(type(a))

 100

100
<class 'str'>

#### int

int(x) : 문자열이나 소숫점이 있는 숫자를 integer로 반환


int(x, radix) : radix 진수로 표현된 문자를 10진수로 변환

In [76]:
print(int('3'))
print(int(4.4))

3
4

In [80]:
print(int('11',2))
print(int('11', 4))

3
5

#### isinstance

isinstance(객체, 클래스) : 해당 객체가 클래스의 인스턴스인지 판단

In [82]:
class Person:
    pass

class Animal:
    pass

me = Person() # me객체는 Person 클래스의 인스턴스
dog = Animal() # dog객체는 Animal 클래스의 인스턴스

In [84]:
print(isinstance(me, Person))
print(isinstance(me, Animal))

True
False

In [85]:
print(isinstance(dog, Person))
print(isinstance(dog, Animal))

False
True

#### len

len(s) : s 의 길이를 반환

In [86]:
print(len('Hello World!'))
print(len([1,2,3,4,5]))

12
5

#### list

list(iterable 객체) : iterable 객체를 list로 변환

In [87]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [88]:
list((1,2,3))

[1, 2, 3]

#### map

map(함수, iterable 객체) : iterble 객체의 각 요소에 함수를 적용한 결과를 반환

In [94]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:
list(map(lambda x : x * 2, x))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

#### max, min

최댓값, 최솟값을 반환

In [97]:
max([1,2,3,4])

4

In [107]:
dict(zip(list('python'),
         map(lambda x : ord(x), list('python'))))

{'p': 112, 'y': 121, 't': 116, 'h': 104, 'o': 111, 'n': 110}

In [98]:
max('python') # 대응하는 아스키 코드에서 가장 큰 문자 반환

'y'

In [100]:
min('python') # 대응하는 아스키 코드에서 가장 작은 문자 반환

'h'

#### pow

pow(x,y) : x ** y

In [115]:
print(pow(3,4))

81

In [116]:
print(3 ** 4)

81

#### range

range([start], stop, [step])

In [117]:
range(10)

range(0, 100)

In [118]:
range(4,10)

range(1, 100)

In [119]:
range(0,10, 3)

range(0, 10, 3)

In [120]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [121]:
[i for i in range(4,10)]

[4, 5, 6, 7, 8, 9]

In [122]:
[i for i in range(0,10,3)]

[0, 3, 6, 9]

In [123]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [124]:
list(range(3,10,3))

[3, 6, 9]

#### round

반올림

In [125]:
round(4.6)

5

In [126]:
round(4.1)

4

In [127]:
round(5.678,2) # 소수 둘째자리까지 반올림

5.68

#### sorted

sorted(iterable 객체)

In [128]:
sorted([1,2,3])

[1, 2, 3]

In [130]:
sorted(['a','k','c'])

['a', 'c', 'k']

In [131]:
sorted('zero')

['e', 'o', 'r', 'z']

In [132]:
# reverse = True로 지정하면 내림차순
sorted([1,400,3], reverse = True)

[400, 3, 1]

#### zip

zip(*iterable) : 동일한 길이를 가진 iterable 객체를 같은 인덱스끼리 묶는 역할

In [133]:
list(zip([1,2,3],
         [100,200,300]))

[(1, 100), (2, 200), (3, 300)]

In [135]:
list(zip([1, 2, 3], 
         [4, 5, 6], 
         [7, 8, 9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [136]:
dict(zip([1,2,3],
        ['a','b','c']))

{1: 'a', 2: 'b', 3: 'c'}